.form {
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  color: var(--white);
  width: 100%;
}

.form input {
  border-radius: 8px;
  color: var(--white);
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  padding: 16px;
  width: 39.875rem;
  height: 3.375rem;
}

.form button {
  margin-left: 0.5rem;
  color: var(--gray-100);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  width: 5.625rem;
  height: 3.25rem;
  background-color: var(--blue-dark);
}

.form button:hover {
  background-color: var(--blue);
}

.form button:disabled {
  margin-left: 0.5rem;
  color: var(--gray-200);
  cursor: default;
  border: none;
  border-radius: 8px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  width: 5.625rem;
  height: 3.25rem;
  background-color: var(--gray-300);
}

.form button img {
  width: 1rem;
  margin-left: 0.5rem;
  color: var(--gray-300);
}