.ToDo {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem 0;
  width:fit-content;
  transition: 0.1s ease-in-out;
}

.ToDo img {
  width: 2rem;
}

.ToDo button {
  background-color: var(--gray-500);
  border: none;
  cursor: pointer;
}

.task {
  border-radius: 8px;
  display: flex;
  font-size: 1.25rem;
  justify-content: flex-start;
  align-items:flex-start;
  width: 46rem;
  margin: 0 auto;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--gray-700);
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin-right: 0.75rem;
  transition: 0.1s ease-in-out;
}

input[type="checkbox"]:hover {
  border: 2px solid var(--blue-dark);
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: url('../../assets/checked-icon.svg');
  transform: translateY(-10%);
  cursor: pointer;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--purple);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

input[type="checkbox"]:checked:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  color: var(--gray-300);
  }